// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$NPB-yellow: #FED766;
$NPB-blue: #008DD5;
$NPB-black: #0A0F0D;
$NPB-green: #03CEA4;
$NPB-gray: #ECEBF3;
$NPB-white: white;
$NPB-red: #E94F37;
$NPB-brown: #C2A9A9;
