<div class="navbar">
  <div class="logo"></div>

  <div class="menu">

    <div class="menu-title">
      MANIFESTE
    </div>

    <div class="menu-title">
      PROJETS
    </div>

    <div class="menu-title">
      L'EQUIPE
    </div>

    <div class="menu-title">
      CONTACT
    </div>
  </div>
</div>