<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex mt-5 justify-content-between">
        <div class="mr-5">
          <div>
            <div class="sectiontitle" style="color: #FED766">
              NO <span style="color: #E94F37">PLAN</span>ET B
            </div>
            <div class="sectiontitle" style="color: #FED766; font-size: 35px; line-height: 40px;">
              79 Avenue de la République <br>
              75011 Paris <br>
              01 00 00 00 00
            </div>
          </div>

          <%= image_tag image_path("logo fleurs.png"), style: "width: 400px;" %>
        </div> 

        <div class="manifeste-text" style="right: -100px;">
          <div class="whitebigtitle">
            Lucie RENARD
          </div>
          <div class="whitetext" style="font-weight: 500;">
            <em>Responsable communication</em> <br>
            +33 6 00 00 00 00 <br>
            lucie.renard@noplanetb.fr
          </div>
        </div>

        <div class="manifeste-text" style="top: 300px; right: -100px;">
          <div class="whitebigtitle">
            Marianne BIGGS
          </div>
          <div class="whitetext" style="font-weight: 500;">
            <em>Productrice</em> <br>
            +33 6 00 00 00 00 <br>
            marianne.biggs@noplanetb.fr
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div> 