<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        Nous faisons partie de la génération marquée par les catastrophes climatiques récurrentes, les COP et les rapports du GIEC. 

        Mais nous sommes aussi la génération de Greta Thunberg, ceux qui ont grandi avec les documentaires de Yann Arthus Bertrand et Cyril Dion. 

        Nous pensons que la durabilité est un sujet à part entière, un thème incontournable et indispensable. Nous pensons que la durabilité est l’avenir.

        C’est pourquoi nous avons créé No Planet B en 2020, une maison de production indépendante spécialisée dans les long-métrages sur les enjeux de la durabilité. 

        Nous soutenons des projets qui défendent notre planète et l’humanité, quel que soit le format. Leur dénominateur commun est leur engagement durable.

      </div>
      
    </div>
  </div>
</div> 