<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex mt-5 justify-content-between">
        <div class="mr-5">
          <div>
            <div class="sectiontitle" id="adn" style="color: #FED766">
              NOTRE ADN
            </div>
            <div class="sectiontitle" id="histoire">
              HISTOIRE
            </div>
            <div class="sectiontitle" id="expertise">
              EXPERTISE
            </div>
          </div>

          <%= image_tag image_path("logo fleurs.png"), style: "width: 400px;" %>
        </div> 

        <div class="manifeste-text" id="adntarget">
          <div class="whitebigtitle mb-3">
            Une production engagée
          </div>
          <div class="whitetext">
            Nous faisons partie de la génération marquée par les catastrophes climatiques récurrentes, les COP et les rapports du GIEC. 

            Mais nous sommes aussi la génération de Greta Thunberg, ceux qui ont grandi avec les documentaires de Yann Arthus Bertrand et Cyril Dion. 

            Nous pensons que la durabilité est un sujet à part entière, un thème incontournable et indispensable. Nous pensons que la durabilité est l’avenir.

            C’est pourquoi nous avons créé No Planet B en 2020, une maison de production indépendante spécialisée dans les long-métrages sur les enjeux de la durabilité. 

            Nous soutenons des projets qui défendent notre planète et l’humanité, quel que soit le format. Leur dénominateur commun est leur engagement durable.
          </div>
        </div>

        <div class="manifeste-text opacity" id="histoiretarget">
          <div class="whitebigtitle mb-3">
            Une équipe de passionnée
          </div>
          <div class="whitetext">
            L’équipe de No Planet B se rencontre à l’ESCP BS en 2021, au cours de la spécialisation management de projets culturels et médiatiques. Animés par la passion du cinéma et le profond désir d’une prise de conscience et de changements durables pour la société, l’équipe se soude autour d’un projet de création d’une boite de production spécialisée dans les documentaires à fort impact. 
            Fort de leurs années d’expériences dans la production, la finance d’entreprise, la tech ou le marketing, l’équipe se complète et se rassemble autours de valeurs communes : 
            <br><br>
            - La durabilité <br>
            - L’impact <br>
            - La bienveillance <br>
            <br>
            Ces trois valeurs sont au fondement des documentaires produits par No Planet B, qui se veut un moyen d’éveiller les consciences dans la bienveillance, afin que chacun puisse mettre en place des actions concrètes et avoir un impact sur la société qui nous entoure.
          </div>
        </div>

        <div class="manifeste-text opacity" id="expertisetarget">
          <div class="whitebigtitle mb-3">
            Notre diversité fait notre force
          </div>
          <div class="whitetext">         
            Notre équipe se compose de personnalités diverses aux backgrounds très différents, ce qui permet à No Planet B de se démarquer par sa rigueur, son ouverture d’esprit et sa flexibilité. En effet, nous accompagnons la productions de documentaires à fort impact, touchant à tous les sujets actuels, sans tabous ou retenue, et le monde qui nous entoure, en perpétuelle évolution, nous incite à nous ré-inventer et à s’adapter au plus vite aux envies et demandes du marché. Notre manière de travailler s’articule ainsi autour de 4 piliers : 
            <br><br>
            - la fiabilité <br>
            - la responsabilité <br>
            - l’intégrité <br>
            - l’esprit d’équipe <br>
            <br>
            Nous nous assurons que nos équipes et partenaires s’engagent à respecter ces valeurs au quotidien, afin de produire des documentaires à la hauteur de vos attentes.
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div> 