<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex mt-5 justify-content-between">
        <div class="mr-5">
          <div>
            <div class="sectiontitle" id="adn" style="color: #FED766">
              NOTRE ADN
            </div>
            <div class="sectiontitle" id="histoire">
              HISTOIRE
            </div>
            <div class="sectiontitle" id="expertise">
              EXPERTISE
            </div>
          </div>

          <%= image_tag image_path("logo fleurs.png"), style: "width: 400px;" %>
        </div> 

        <div class="manifeste-text" id="adntarget">
          <div class="whitebigtitle mb-3">
            Une production engagée
          </div>
          <div class="whitetext">
            Nous faisons partie de la génération marquée par les catastrophes climatiques récurrentes, les COP et les rapports du GIEC. 

            Mais nous sommes aussi la génération de Greta Thunberg, ceux qui ont grandi avec les documentaires de Yann Arthus Bertrand et Cyril Dion. 

            Nous pensons que la durabilité est un sujet à part entière, un thème incontournable et indispensable. Nous pensons que la durabilité est l’avenir.

            C’est pourquoi nous avons créé No Planet B en 2020, une maison de production indépendante spécialisée dans les long-métrages sur les enjeux de la durabilité. 

            Nous soutenons des projets qui défendent notre planète et l’humanité, quel que soit le format. Leur dénominateur commun est leur engagement durable.
          </div>
        </div>

        <div class="manifeste-text opacity" id="histoiretarget">
          <div class="whitebigtitle mb-3">
            Une équipe de passionnée
          </div>
          <div class="whitetext">
            Nous nous sommes rencontrés etc.
          </div>
        </div>

        <div class="manifeste-text opacity" id="expertisetarget">
          <div class="whitebigtitle mb-3">
            Expertise
          </div>
          <div class="whitetext">
            Nouveau modèle d’agence, nous croyons dans le etc.
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div> 