<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="d-flex justify-content-center align-items-center" style="height: 70vh; flex-direction: column;">
        <div class="whitetext" style="margin-bottom: 50px; width: 50%">
          C'est votre solidarité et votre générosité qui permettront à nos projets de voir le jour. Merci infiniment pour votre aide ! Nous vous tiendrons informés des actualités du projet et de l'avancement de cette campagne de financement. On compte sur vous !
        </div>

        <div class="btn btn-success">
          Faire un don
        </div>
      </div>

    </div>
  </div>
</div>