<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="grid">
        <div class="teamcard" id="marianne">
          <div class="citation">
            "Le film documentaire repose sur l'aide incommensurable de partenaires financiers - publics ou privés. Il faut faire preuve d'inventivité et de réactivité pour aller chercher des fonds pour financer nos futures créations, ce qui en fait un métier passionnant"
          </div>
          <div class="position">
            <span style="font-size: 20px; font-weight: 400;">Partenariats <br></span>
            Marianne Biggs
          </div>
        </div>

        <div class="teamcard" id="lucie">
          <div class="citation">
            « C’est en mobilisant une communauté engagée pour la durabilité que nous ferons bouger les lignes. Nos documentaires sont des leviers puissants pour éveiller les consciences. »
          </div>
          <div class="position">
            <span style="font-size: 20px; font-weight: 400;">Marketing <br></span>
            Lucie Renard
          </div>
        </div>

        <div class="teamcard" id="raphaelle">
          <div class="citation">
          </div>
          <div class="position">
            <span style="font-size: 20px; font-weight: 400;">Distribution <br></span>
            Raphaëlle Lugagne-Delpon
          </div>
        </div>

        <div class="teamcard" id="pierre">
          <div class="citation">
          </div>
          <div class="position">
            <span style="font-size: 20px; font-weight: 400;">Production déléguée <br></span>
            Pierre Grandjean
          </div>
        </div>

        <div class="teamcard" id="anouk">
          <div class="citation">
          </div>
          <div class="position">
            <span style="font-size: 20px; font-weight: 400;">Partenariats <br></span>
            Anouk Ardiet
          </div>
        </div>

        <div class="teamcard" id="juliette">
          <div class="citation">
          </div>
          <div class="position">
            <span style="font-size: 20px; font-weight: 400;">Production déléguée<br></span>
            Julierre Franck
          </div>
        </div>

        <div class="teamcard" id="maxime">
          <div class="citation">
          </div>
          <div class="position">
            <span style="font-size: 20px; font-weight: 400;">Production exécutive <br></span>
            Maxime Lussan
          </div>
        </div>

        <div class="teamcard" id="cassandre">
          <div class="citation">
          </div>
          <div class="position">
            <span style="font-size: 20px; font-weight: 400;">Production exécutive <br></span>
            Cassandre Tribalet
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 