.navbar {
  position: sticky;
  z-index: 100;
  width: 100%;
  top: 0px;
  height: 120px;
  display: flex;
  justify-content: center;
}

.logo {
  background-image: image_url("logo.png");
  height: 80px;
  width: 80px;
  background-size: cover;
  position: absolute;
  left: 10px;
  margin: 30px;
  top: 0px;
}

.menu {
  display: inline-flex;
  .menu-title {
    position: relative;
    margin: auto 30px auto 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: $NPB-white;
    // transition: all 0.5s cubic-bezier(0.165, 0.54, 0.44, 1);
    cursor: pointer;

    &::after {
      content: '.';
      position: absolute;
      top: -50px;
      right: -20px;
      font-size: 54px;
      font-weight: 600;
    }

    &:hover {
      color: $NPB-yellow;
    }
  }
}
